.note-card {
  background: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 20px;
  margin: 15px 0;
  box-shadow: 0 2px 8px rgba(197, 19, 19, 0.1);
  border: 1px solid #e0e0e0;
  transition: all 0.3s ease;
  position: relative;
  margin-left: 0;
  margin-right: auto;
  max-width: 250px;
  max-height: fit-content ;
}

.note-card:hover {
  box-shadow: 0 4px 16px rgba(209, 16, 16, 0.15);
  transform: translateY(-2px);
}

.note-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 8px;
}

.note-title {
  margin: 0;
  color: #bfd8f1;
  font-size: 1.4rem;
  font-weight: 600;
  flex: 1;
}

.note-title-input {
  flex: 1;
  padding: 8px 12px;
  font-size: 1.4rem;
  font-weight: 600;
  border: 2px solid #366a8d;
  border-radius: 6px;
  color: #2c3e50;
  background: #f8f9fa;
  outline: none;
}

.note-title-input:focus {
  border-color: #2980b9;
  background: rgb(34, 18, 18);
}

.note-actions {
  display: flex;
  gap: 8px;
  margin-left: 10px;
}

.note-btn {
  width: 32px;
  height: 30px;
  border: none;
  border-radius: 6px;
  background: #f8f9fa;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.note-btn:hover {
  transform: scale(1.1);
}

.edit-btn:hover {
  background: #3498db;
  color: white;
  font-size: 12px;
}

.delete-btn:hover {
  background: #e74c3c;
  color: rgb(248, 244, 244);
}

.save-btn {
  background: #2ecc71;
  color: white;
}

.save-btn:hover {
  background: #27ae60;
}

.cancel-btn {
  background: #e74c3c;
  color: white;
}

.cancel-btn:hover {
  background: #c0392b;
}

.btn-icon {
  font-size: 14px;
}

.note-date {
  color: #7f8c8d;
  font-size: 0.85rem;
  margin-bottom: 15px;
}

.note-content {
  margin-bottom: 15px;
}

.note-content-text {
  line-height: 1.6;
  color: #34495e;
}

.note-paragraph {
  margin: 8px 0;
  padding-left: 8px;
}

.note-paragraph .bullet {
  color: #f5f7f8;
  font-weight: bold;
  margin-right: 8px;
}

.note-content-input {
  width: 100%;
  padding: 12px;
  border: 2px solid #3498db;
  border-radius: 8px;
  font-family: inherit;
  font-size: 0.95rem;
  line-height: 1.6;
  color: #34495e;
  background: #f8f9fa;
  resize: vertical;
  outline: none;
  transition: border-color 0.2s ease;
}

.note-content-input:focus {
  border-color: #2980b9;
  background: white;
}

.expand-btn {
  background: none;
  border: none;
  color: #3498db;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 5px 0;
  margin-top: 5px;
  text-decoration: underline;
}

.expand-btn:hover {
  color: #2980b9;
}

.note-footer {
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-top: 10px;
}

.note-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.note-tag {
  background: #ecf0f1;
  color: #2c3e50;
  padding: 4px 12px;
  border-radius: 16px;
  font-size: 0.8rem;
  font-weight: 500;
}